/* Simple Status Picker */
#status-picker {
    width: 44px;
}

.description-3Cwkxk {
    display: none;
}

.status-3TYC5W {
    display: none;
}

.submenuContainer-3EVTeH {
    display: none;
    visibility: hidden;
}

.statusItem-2hiCNB {
    margin-left: 1px;
}

.customEmoji-1nCP1t {
    margin-left: -4px
}
