/* Custom Status Picker */
#status-picker {
    width: 45px;
    height: 200px;
}

.description-3Cwkxk {
    display: none;
}

.status-3TYC5W {
    display: none;
}

.statusItem-2hiCNB {
    margin-left: 1px;
}

.customEmoji-1nCP1t {
    margin-left: -4px
}

.arrow-2HswgU {
    margin-left: -11px;
}

/* Pop-out Animation */
#status-picker {
    animation: custom-menu-animation 250ms ease;
    transform-origin: bottom;
}
@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
